:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body{ //Define body grid-style
  display: grid; 
  justify-content: center; //Main-Axis Center
  align-content: center; //Höhe Center 
}

#humanBoardID, #computerBoardID{ //Define behavior for squares: Gameboard drawMap(); 
  display: grid; 
  /* Defined by class method*/
  // grid-template-columns: repeat(autofill, 50px);
  height: 100%; 
  width: 100%; 
  border: 2px solid #f6ff00;
}

.square{
  width: 50px; //Define square sizes. 
  height: 50px; 
  border: 1px solid white;  
}

/* Treffer */
.square.hit {
  background-color: red;
}

/* Verfehlter Angriff */
.square.missed {
  background-color: blue;
}


// /* Treffer mit einer Animation */
// .square.hit {
//   background-color: red;
//   animation: hit-animation 0.5s ease-in-out;
// }

// @keyframes hit-animation {
//   0% { background-color: white; }
//   100% { background-color: red; }
// }

// /* Verfehlter Angriff mit einer Animation */
// .square.missed {
//   background-color: blue;
//   animation: miss-animation 0.5s ease-in-out;
// }

// @keyframes miss-animation {
//   0% { background-color: white; }
//   100% { background-color: blue; }
// }
